.Tag{
  display: inline-block;
  float: left;
  background-color: #e3e3e3;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 5px;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.TagList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 10px;
}