.Form{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  min-width: 320px;
  max-width: 320px;
}