.card{
    width: 921px;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 10px 10px 21px #d3d3d6, -10px -10px 21px #fff;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.like{
    margin-left: 10px;
}
.article{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 642px;
    text-align: left;
}
.title {
    margin: 0;
    max-height: 35px;
    max-width: 550px;
    flex-wrap: nowrap;
}
h2{
    overflow:hidden;
    text-overflow: ellipsis;
}

.Tag{
    max-width: 100px;
    overflow:hidden;
    flex-wrap: nowrap;
    text-overflow: ellipsis;
}
.description{
    max-width: 550px;
    overflow:hidden;
    text-overflow: ellipsis;
}
.tag{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    text-overflow: ellipsis;
}
.body{
    max-width: 550px;
    overflow-wrap: break-word;
}
.profile{
    display: flex;
    flex-direction: row;
    height: 46px;
}
.profile_nameBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profile_img{
    border-radius: 25px;
}
.profile_name{
    font-size: 16px;
}
.profile_date{
    color: rgba(0, 0, 0, 0.5);
}
.buttons{
    display: flex;
    flex-direction: row;
}
