.header{
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 0 10px 0 10px;
  align-items: center;
  min-height: 50px;
  column-gap: 10px;
  background-color: #001529;
}
.username{
  color: white;
  margin: 0 10px;
}